<% if user_signed_in? %>
  <h2>Welcome, <%= current_user.username %></h2>
<% else %>
  <h2>Hello, to see the authors of each post sign in or register!</h2>
<% end %>


<h3>All posts</h3>
<% @posts.each do |post| %>
  <p style="display:inline">Title: </p><%= post.title %><br><br>
  <%= post.body %><br><br>
  <% if user_signed_in? %>
    Author: <%= post.user.username %><br><br>
  <% end %>
  <br><br>
<% end %>


<%= link_to "New Post", new_post_path %>
