<h1>Create a new post!</h1>
<br><br>


<%= form_with(model: @post) do |form| %>
  <%= form.label("Title:") %>
  <%= form.text_field(:title, placeholder:"Your Title") %> <br><br>
  <%= form.label("Post:") %>
  <%= form.text_field(:body, placeholder:"Share your thoughts") %><br><br>
  <%= form.submit %>
<% end %> 





